# Allow tracking .gitignore
myproject/myreactapp/**/.gitignore export-ignore
myproject/myreactapp/** filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/crudDjango/** .gitignore export-ignore
/crudDjango/** filter=lfs diff=lfs merge=lfs -text
